
 <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            
            SHOPPING CART
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
          <a class="nav-link" href="">PRODUCT LIST</a>
         
          

      


          <a class="nav-link" href="#"></a>
          <a class="nav-link" href="#"></a>
        </div>
      </div>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

      <li class="nav-item">
        <a class="nav-link" href="login.html">
            <button class="btn btn-primary">Sign In</button></a>
        
      </li>
      </ul>

    
</nav>